.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

/* For WebKit browsers */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

#root {
  background-color: #5C2E00 !important;
}